.products-section {
  margin-top: 0;
  padding-top: 10rem;
}

#product-page-Container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  /* border: 2px solid darkblue; */
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
}
#product-page-Container::-webkit-scrollbar {
  display: none;
}

#product-page-Container .category-brand {
  padding-top: 10px;
  height: fit-content;
  display: flex;
  justify-content: space-between;

  & .brand {
    background-color: rgba(128, 17, 231, 0.648);
  }
}

.productDescription {
  color: dimgray;
}

#product-page-Container .cards {
  margin-top: 0.5rem;

  & .card {
    position: relative;
    /*  110 left increase on every click : =========== >  */
    left: 0;
    min-width: 24%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /* border: 2px solid rgb(255, 0, 0); */
    height: 100%;
    width: 19.5rem;
    background-color: rgba(174, 168, 176, 0.333);
    padding: 0 1rem 1rem 1rem;
    text-align: start;
    /* align-items: center; */
    box-shadow: rgba(142, 139, 139, 0.167) 0px 1px 6px 4px;
    transition: all 0.5s;
  }
}
#product-page-Container .card .imageContainer {
  /* width: 100%; */
  overflow: hidden;
  margin: 0 auto;
}

#product-page-Container .card .productImage {
  max-width: 100%;
  /* border: 2px solid springgreen; */
  width: 18rem;
  height: 15rem;
}
#product-page-Container .productRating {
  color: #e9db16;
}

.productPriceElement,
.productQuantityElement,
.productStockElement {
  display: flex;
  gap: 1rem;
}
#product-page-Container .category,
#product-page-Container .brand {
  color: #fff;
  letter-spacing: 0.4px;
  text-align: center;
  font-size: 0.8rem;
  width: fit-content;
  padding: 4px 12px;
  border-radius: 50px;
  background-color: rgba(255, 140, 0, 0.557);
}

/* ----------------------------------- : increment / decrement ----- */
#product-page-Container .stockElement {
  display: flex;
  /* gap: 1rem; */
  font-size: 1.1rem;
  /* border: 2px solid rgba(111, 109, 109, 0.649); */
  align-items: center;
  justify-content: space-between;
}
#product-page-Container .stockElement .cartIncrement {
  padding: 2px 12px 2px 12px;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border-end-start-radius: 1rem;
  border-start-start-radius: 1rem;
  transition: all 0.4s ease-in-out;
}
#product-page-Container .stockElement .productQuantity {
  padding: 2px 12px 2px 12px;
  font-size: 1.2rem;
  background-color: transparent;
}
#product-page-Container .stockElement .cartDecrement {
  padding: 2px 12px 2px 12px;
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
  transition: all 0.4s ease-in-out;
}
#product-page-Container .stockElement button:hover {
  border-color: rgb(26, 25, 25);
}

#product-page-Container .stockElement .cartIncrement,
.cartDecrement,
.productQuantity {
  outline: none;
  border: 1.9px solid rgba(219, 213, 213, 0.649);
}

#product-page-Container .productQuantity {
  border-left: none;
  border-right: none;
}
#product-page-Container .productPriceElement {
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  display: flex;
  gap: 0.6rem;
}
#product-page-Container .productPriceElement .productActualPrice {
  text-decoration: line-through;
  color: darkorange;
  font-weight: 300;
  font-size: 0.9rem;
}

/* ======================================= :  CARDS BTNS : ==================================================================== */
#product-page-Container .cart-btn-div {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
#product-page-Container .cards .add-to-cart-button {
  font-size: 0.8rem;
  padding: 0.6em 1.2rem;
  background-color: rgb(199, 41, 165);
  border: none;
  cursor: pointer;
  /* font-size: 1rem; */
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  letter-spacing: 0.5px;
  color: #fff;

  & i {
    margin-right: 0.2rem;
  }
}
#product-page-Container .cards .add-to-cart-button:hover {
  background-color: rgba(255, 163, 50, 0.897);
  box-shadow: 3px 3px 3px rgba(230, 161, 206, 0.747);
}

#product-page-Container .cards .wishList-button {
  font-size: 0.8rem;
  width: 7rem;
  height: 2.5rem;
  color: black;
  background-color: transparent;
  color: rgb(199, 41, 165);
  border: 1px solid rgb(199, 41, 165);
  cursor: pointer;
  /* font-size: 1rem; */
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  & i {
    margin-right: 0.2rem;
  }
}
#product-page-Container .cards .wishList-button:hover {
  border: 2px solid rgba(255, 163, 50, 0.897);
  box-shadow: rgba(255, 140, 0, 0.323) 2.5px 2.5px 2.5px;
  color: darkorange;
  & i {
    font-weight: bold;
  }
}
