.profile-section {
  padding: 10rem 0 5rem 0;
  width: 100%;
  height: auto;
  background-color: rgba(222, 184, 135, 0.207);
}

.profile-container {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  /* border: 2px solid rebeccapurple; */
  & h1 {
    padding: 0 0 0.4rem 0;
    color: rgba(54, 18, 68, 0.82);
    letter-spacing: 0.4px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  /* gap: 2rem; */
}

.login {
  /* border: 2px solid black; */
  width: 44%;
}

.create-acc {
  width: 44%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 2px solid black; */

  & a {
    color: rgba(54, 18, 68, 0.82);
  }
}

.info-heading {
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  color: rgb(72, 71, 71);
  font-weight: 100;
}

.policy-note {
  font-size: 1rem;
}

.policy-heading {
  font-size: 0.8rem;
}

.forget-pass {
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  padding: 10px 0 0 0;
  color: rgba(0, 0, 0, 0.82);
}

.forget-pass:hover {
  text-decoration: underline;
  color: rgba(54, 18, 68, 0.82);
}

.required {
  text-decoration: none;
  text-align: center;
  font-size: 0.9rem;
  color: rgba(54, 18, 68, 0.82);
  padding: 10px 0 0 0;
}

.profile-form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 14px;

  & span {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}

.profile-form #email,
.profile-form #password,
.profile-form #first-name,
.profile-form #last-name,
.profile-form #email,
.profile-form #password {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 3.8rem;
  font-size: 1.1rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  border: none;
  outline: none;
  background-color: white;
}

.profile-form input:focus {
  outline: 1px solid rgba(206, 201, 201, 0.476);
  box-shadow: 0 0 10px rgba(108, 106, 106, 0.819);
}

/* ================  btns : LOGIN / CREATE ACC : ==================================*/
.login-btn,
.create-btn {
  font-size: 0.9rem;
  padding: 1.5rem 0;
  background-color: rgb(0, 0, 0);
  color: #fff;
  border: 2px solid black;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
  font-weight: 600;
  letter-spacing: 1px;
  /* margin-bottom: 0.5rem; */
}

.login-btn:hover,
.create-btn:hover {
  background-color: transparent;
  border: 2px solid black;
  box-shadow: 0 0 7px rgba(108, 106, 106, 0.819);
  color: rgb(33, 33, 33);
}
